In [2]:
import pandas as pd
import os

In [37]:
# path = '../data/teamSeedsProc/'
# dir_list = os.listdir(path)
# df_list = []

# for i,csv in enumerate(dir_list):
#     df_list.append(pd.read_csv(path + csv))
#     df_list[i].fillna('NA', inplace=True)


# playoff = set(df_list[0].loc[df_list[0].SEED != 'NA', 'TEAM'])

# for i in range(1,len(dir_list)):
#     if i != 6:
#         playoff.update(set(df_list[i].loc[df_list[i].SEED != 'NA', 'TEAM']))

# playoff.difference(set(df2.loc[df_list[i].TEAM.isin(playoff),'TEAM']))
 
path = './data/clean/'
path2 = './data/cleanPerGame/'
dir_list = os.listdir(path)
df_list = []

for i,csv in enumerate(dir_list):
    df_list.append(pd.read_csv(path + csv))


for i,csv in enumerate(dir_list):
    df_list[i].insert(25,'DRB',df_list[i]['TRB']-df_list[i]['ORB'])
    for j in range(13,33):
        if j not in [15,18,21,24]:
            df_list[i].iloc[:,j] = df_list[i].iloc[:,j] / df_list[i].G 

    df_list[i].to_csv(path2 + csv, index=False) 

# df = pd.concat(df_list)

# df.to_csv(path2 + 'combined.csv', index=False)

FileNotFoundError: [Errno 2] No such file or directory: './data/clean/'

In [6]:
df = pd.read_csv('../data/clean/2022-school-stats.csv')
df.head()

,School,G,Overall.W,Overall.L,W-L%,SRS,SOS,Conf.W,Conf.L,Home.W,...,AST%,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA,SEED,POSTSEASON,REGION
0,Abilene Christian,36.0,25.0,11.0,694.0,2.25,-2.09,11.0,7.0,14.0,...,56.9,14.9,6.3,495.0,15.1,29.1,288.0,NaN,NaN,NaN
1,Air Force,29.0,11.0,18.0,379.0,-5.67,1.33,4.0,13.0,7.0,...,57.7,8.6,9.1,509.0,19.6,19.6,174.0,NaN,NaN,NaN
2,Akron,34.0,24.0,10.0,706.0,0.91,-3.93,14.0,6.0,12.0,...,47.9,9.1,9.2,533.0,15.4,30.6,268.0,13.0,R64,EAST
3,Alabama,33.0,19.0,14.0,576.0,14.62,11.59,9.0,9.0,13.0,...,53.1,9.6,11.9,513.0,16.7,35.3,239.0,6.0,R64,WEST
4,Alabama A&M,30.0,12.0,18.0,0.4,-14.43,-8.86,10.0,8.0,7.0,...,43.4,10.1,8.8,412.0,16.8,28.7,239.0,NaN,NaN,NaN

In [7]:
df.insert(25,'DRB',df['TRB']-df['ORB'])
for column in df.columns:
    if '%' in column or column in ['FT/FGA','FTr', '3PAr']:
        for i in range(len(df[column])):
            if df[column][i] != 'NA' and df[column][i] > 1:
                while df[column][i] > 1:
                    df[column][i] = float(df[column][i] /10)
    
    elif column not in ['School','REGION','G','MP', 'Overall.W', 'Overall.L', 'SRS', 'SOS','Pace', 'Conf.W', 'Conf.L', 'Home.W', 'Home.L', 'Away.W', 'Away.L','SEED','POSTSEASON', 'ORtg']:
        for i in range(len(df[column])):
            if df[column][i] != 'NA':
                df[column][i] = float(df[column][i] / df['G'][i])

/tmp/ipykernel_33208/2265005054.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column][i] = float(df[column][i] /10)
/tmp/ipykernel_33208/2265005054.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column][i] = float(df[column][i] / df['G'][i])

In [28]:

df.columns
df.head()

,School,G,Overall.W,Overall.L,W-L%,SRS,SOS,Conf.W,Conf.L,Home.W,...,AST%,STL%,BLK%,eFG%,TOV%,ORB%,FT/FGA,SEED,POSTSEASON,REGION
0,Abilene Christian,36.0,25.0,11.0,0.694,2.25,-2.09,11.0,7.0,14.0,...,0.569,0.149,0.630,0.495,0.151,0.291,0.288,NaN,NaN,NaN
1,Air Force,29.0,11.0,18.0,0.379,-5.67,1.33,4.0,13.0,7.0,...,0.577,0.860,0.910,0.509,0.196,0.196,0.174,NaN,NaN,NaN
2,Akron,34.0,24.0,10.0,0.706,0.91,-3.93,14.0,6.0,12.0,...,0.479,0.910,0.920,0.533,0.154,0.306,0.268,13.0,R64,EAST
3,Alabama,33.0,19.0,14.0,0.576,14.62,11.59,9.0,9.0,13.0,...,0.531,0.960,0.119,0.513,0.167,0.353,0.239,6.0,R64,WEST
4,Alabama A&M,30.0,12.0,18.0,0.400,-14.43,-8.86,10.0,8.0,7.0,...,0.434,0.101,0.880,0.412,0.168,0.287,0.239,NaN,NaN,NaN

In [8]:
df.to_csv('../data/perGameStats/2022-school-stats.csv', index=False)