In [2]:
import pandas as pd
import numpy as np

regions = ['SOUTH', 'MIDWEST', 'WEST', 'EAST']
final_four = {'2021':['SOUTH', 'MIDWEST'], '2019':['SOUTH','MIDWEST'], '2018':['SOUTH','EAST'], 
'2017':['SOUTH','MIDWEST'], '2016':['SOUTH','WEST'], '2015':['SOUTH','EAST'], '2014':['SOUTH','EAST']}

mapa = {'Champions': 8, '2ND' : 7, 'F4' : 6, 'E8' : 5, 'S16' : 4, 'R32' : 3, 'R64' : 2, 'R68' : 1}

In [5]:
df = pd.read_csv('../data/final/2014-school-stats.csv')
df['POSTSEASON_value'] = df['POSTSEASON'].map(mapa)
df['QUALIFIED'] = ~pd.isna(df['SEED'])
df['DRB'] = df['TRB'] - df['ORB']
df.head()

,School,G,Overall.W,Overall.L,W-L%,SRS,SOS,Conf.W,Conf.L,Home.W,...,eFG%,TOV%,ORB%,FT/FGA,SEED,POSTSEASON,REGION,POSTSEASON_value,QUALIFIED,DRB
0,Abilene Christian,31,11,20,0.355,-19.60,-4.12,2.0,12.0,9,...,0.515,18.6,30.4,0.300,NaN,NaN,NaN,NaN,False,705
1,Air Force,30,12,18,0.400,-4.08,1.71,6.0,12.0,8,...,0.504,17.9,26.7,0.260,NaN,NaN,NaN,NaN,False,707
2,Akron,34,21,13,0.618,1.16,-0.48,12.0,6.0,13,...,0.503,16.8,35.2,0.252,NaN,NaN,NaN,NaN,False,763
3,Alabama,32,13,19,0.406,8.34,8.88,7.0,11.0,13,...,0.499,15.8,30.4,0.303,NaN,NaN,NaN,NaN,False,730
4,Alabama A&M,30,14,16,0.467,-13.86,-10.58,10.0,8.0,7,...,0.467,17.1,28.1,0.276,NaN,NaN,NaN,NaN,False,715